.about-as {
  position: relative;
  color: $dark-blue;
  padding-left: 270px;
  margin-bottom: 120px;

  h2 {
    font-family: $ff-regular;
    font-size: 36px;
    line-height: 51px;
    font-weight: 400;
    margin: 0 0 15px;
  }

  div div {
    padding-bottom: 23px;
  }

  p {
    font-family: $ff-ptmono;
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 20px;
  }

  button {
    min-width: 180px;
    font-family: $ff-bold;
    font-size: 14px;
    line-height: 15px;
    color: $light-blue;
    text-transform: uppercase;
    border: 1px solid $light-blue;
    border-radius: 3px;
    background-color: $default-white;
    padding: 14px;
    cursor: pointer;

    &:hover {
      background-color: $light-blue;
      color: $white;
    }

    &:active {
      opacity: 0.6;
      background-color: $light-blue;
      color: $white;
    }
  }

  &::before {
    content: "2022";
    color: transparent;
    font-family: $ff-bold;
    font-size: 156px;
    line-height: 156px;
    display: block;
    position: absolute;
    left: -48px;
    top: 84px;
    transform: rotate(-90deg);
    background: no-repeat center center url("../img/mask_bg.jpg");
    background-clip: text;
  }
}

@include vp-1024 {
  .about-as {
    margin-bottom: 80px;
    padding-left: 225px;

    h2 {
      margin-bottom: 12px;
    }

    div div {
      padding-bottom: 0;
    }

    p {
      margin-bottom: 24px;
    }

    button {
      padding: 13px 14px;
      letter-spacing: 1px;
    }

    &::before {
      left: -21px;
      top: 88px;
    }
  }
}

@include vp-770 {
  .about-as {
    margin-bottom: 76px;

    h2 {
      font-size: 28px;
      line-height: 36px;
    }

    p {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 18px;
    }

    button {
      min-width: 160px;
      padding: 9px;
      transform: translateY(-5px);
    }

    &::before,
    span {
      display: none;
    }
  }
}
