.advantages {
  background-color: $default-white;
  margin-bottom: 120px;

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 40px;
    border-left: 5px solid $light-blue;
    border-top: 1px solid $white;
    border-right: 1px solid $white;
    border-bottom: 1px solid $white;
    min-height: 300px;
  }

  svg {
    margin-bottom: 16px;

    path {
      fill: $light-blue;
    }
  }

  h3 {
    font-family: $ff-regular;
    font-size: 24px;
    line-height: 35px;
    font-weight: 400;
    color: $light-blue;
    margin: 0 0 12px;
  }

  p {
    font-family: $ff-ptmono;
    font-size: 16px;
    line-height: 22px;
    color: $dark-blue;
    margin: 0;
  }

  li:hover {
    background-color: $light-blue;
    border-color: $light-blue;
    transition: all ease 0.15s;

    path {
      fill: $white;
    }

    h3,
    p {
      color: $white;
    }
  }
}

@include vp-1024 {
  .advantages {
    margin-bottom: 76px;

    svg {
      margin-bottom: 10px;
    }

    h3 {
      line-height: 33px;
      margin-bottom: 9px;
    }

    li {
      padding-bottom: 20px;
      min-height: 360px;
    }

    p {
      line-height: 21.6px;
    }
  }
}

@include vp-770 {
  .advantages {
    margin-bottom: 48px;

    ul {
      grid-template-columns: 1fr;
    }

    li {
      padding: 30px 25px 36px;
      min-height: 325px;
    }

    svg {
      width: 30px;
      height: 30px;
    }

    h3 {
      font-size: 20px;
      line-height: 31px;
      margin-bottom: 11px;
    }

    p {
      display: block;
      font-size: 14px;
      line-height: 19px;
      min-height: 140px;
    }

    li:nth-child(-n+2) h3 {
      line-height: 33px;
      margin-bottom: 5px;
    }

    li:nth-child(-n+2) p {
      min-height: 190px;
    }
  }
}
