.footer {
  color: $default-white;
  background-color: $dark-blue;
  padding: 50px 0;
}

.footer__wrapper {
  display: flex;
}

.footer__top {
  margin-right: auto;
  padding-right: 20px;
}

.footer__logo {
  width: 215px;
  color: $white;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  cursor: pointer;

  p:first-child {
    font-family: $ff-bold;
    font-size: 25px;
    line-height: 29px;
    margin: 0;
  }

  p:last-child {
    font-family: $ff-roboto;
    color: $default-white;
    opacity: 0.7;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
  }

  &:hover {
    color: $light-blue;
    opacity: 0.6;
  }

  &:active {
    color: $light-blue;
    opacity: 0.3;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;

  a {
    display: block;
    padding: 5px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.footer__links {
  display: flex;
  column-gap: 30px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-family: $ff-regular;
    font-size: 15px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    color: $default-white;
    margin: 0 0 20px;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    display: block;
    font-family: $ff-ptmono;
    font-size: 16px;
    line-height: 20px;
    color: $default-white;
    opacity: 0.7;

    &:hover {
      color: $light-blue;
      opacity: 0.6;
    }

    &:active {
      color: $light-blue;
      opacity: 0.3;
    }
  }
}

.footer__navigation {
  ul {
    column-count: 2;
    column-gap: 25px;
  }

  li {
    max-width: 222px;
  }
}

.footer__contacts {
  li {
    max-width: 345px;
  }
}

@include vp-1024 {
  .footer__wrapper {
    flex-direction: column;
  }

  .footer__top {
    display: flex;
    align-items: center;
    margin: 0 0 30px;
    padding-right: 0;
  }

  .footer__logo {
    margin-bottom: 0;
    margin-right: auto;
  }

  .footer__links {
    gap: initial;
    justify-content: space-between;
  }

  .footer__navigation {
    ul {
      column-count: 1;
    }

    li {
      margin-right: 0;
    }
  }

  .footer__contacts {
    li {
      max-width: 320px;
    }
  }

  .footer__social-list {
    margin-right: -5px;
    padding: 0;
  }
}

@include vp-770 {
  .footer {
    padding: 35px 0;
  }

  .footer__wrapper {
    padding: 0;
  }

  .footer__top {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .footer__logo {
    margin: 0 0 15px;
    transform: translateX(-2px);
  }

  .footer__links {
    flex-direction: column;
    border-top: 1px solid $white;
  }

  .footer__navigation,
  .footer__contacts {
    ul {
      display: none;
    }
  }

  .footer__block {
    position: relative;
    border-bottom: 1px solid $white;

    h2 {
      margin: 20px 40px 20px 25px;
      line-height: 19px;
      letter-spacing: 0.8px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 1px;
      top: 29px;
      right: 27px;
      background-color: $white;
    }

    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 1px;
      top: 29px;
      right: 27px;
      background-color: $white;
      transform: rotate(90deg);
      transition: all ease 0.5s;
    }
  }

  .footer__block--opened {
    ul {
      display: block;
      margin-left: 25px;
      padding-bottom: 2px;
      transform: translateY(-5px);
    }

    a {
      font-size: 14px;
    }

    &::after {
      transform: rotate(0deg);
    }
  }

  .footer__contacts li:first-child {
    margin-bottom: 18px;
  }

  .footer__links--nojs {
    .footer__block::before,
    .footer__block::after {
      display: none;
    }

    .footer__navigation ul,
    .footer__contacts ul {
      display: block;
      margin-left: 20px;
      padding-bottom: 20px;
    }
  }
}
