$white: #f2f5f6;
$default-white: #ffffff;
$dark-blue: #041827;
$light-blue: #00b2ff;
$form-blue: rgba(4, 20, 39, 0.15);

$ff-regular: "Roboto Condensed", "Arial", sans-serif;
$ff-bold: "Roboto Condensed Bold", "Arial Bold", sans-serif;
$ff-ptmono: "PT Mono", "Courier New", monospace;
$ff-roboto: "Roboto", "Arial", sans-serif;

$vp-1024: 1023px;
$vp-770: 769px;
