.header {
  position: relative;
  color: $white;
  background: center / cover no-repeat url("../img/main_bg.jpg") $dark-blue;
  margin-bottom: 120px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $dark-blue;
    opacity: 0.7;
    z-index: 1;
  }

  a {
    color: $white;
  }

  @include vp-1024 {
    margin-bottom: 80px;
  }

  @include vp-770 {
    margin-bottom: 50px;
  }
}
