.welcome {
  position: relative;
  padding: 305px 145px 280px;
  z-index: 3;

  h1 {
    font-family: $ff-bold;
    font-size: 80px;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: 5.6px;
    margin: 0 0 36px;
  }

  p {
    font-family: $ff-ptmono;
    font-size: 22px;
    line-height: 35px;
    margin: 0 0 44px;
  }

  a {
    display: block;
    width: fit-content;
    font-family: $ff-bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: $light-blue;
    border-radius: 3px;
    padding: 15px 25px;

    &:hover {
      background-color: $white;
      color: $dark-blue;
    }

    &:active {
      opacity: 0.6;
      background-color: $white;
      color: $dark-blue;
    }
  }

  @include vp-1024 {
    padding-top: 92px;
    padding-bottom: 205px;

    h1 {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 8px;
      letter-spacing: 7px;
    }

    p {
      margin-bottom: 55px;
    }

    a {
      margin-left: 45px;
    }
  }

  @include vp-770 {
    padding-top: 80px;
    padding-bottom: 190px;

    h1 {
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 2.5px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 44px;
    }

    a {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      width: 100%;
      padding: 10px 20px;
      margin: 0;
      letter-spacing: 0.7px;
    }


    br {
      display: none;
    }
  }
}
